<div class="card">
    <div class="card-header">
      <i class="fa fa-edit"></i>{{ id ? "Edit" : "Add" }} Adhoc
    </div>
    <div
      class="card-body"
      style="overflow: visible; height: auto; display: block;"
      aria-expanded="true"
      aria-hidden="false"
    >
      <form
        [formGroup]="adhocFormGroup"
        class="form-horizontal"
        (ngSubmit)="onSubmit()"
      >
        <!-- -->
        <div class="row m-b-10">
        <div class="col-md-6">
            <button
              type="button"
              class="pull-right"
              mat-mini-fab
              [disabled]="adhocdetails.invalid"
              (click)="addAdhocdetailsValue()"
              color="primary"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
  
        <ng-template [ngIf]="adhocdetails"></ng-template>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-responsive">
              <thead>
                <th>Component</th>
                <th>Pay Type</th>
                <th>Amount</th>
                <th>Income Tax Dependent</th>
                <th>PT Dependent</th>
                <th>ESI Dependent</th>
                <th>Action</th>
              </thead>
  
              <tbody formArrayName="adhocdetails">
                <ng-template [ngIf]="adhocdetails">
                    <tr
                    *ngFor="
                    let addr of adhocdetails.controls;
                    let i = index
                    "
                    [formGroupName]="i"
                >
                    <td>
                        <mat-form-field style="width:100%" *ngIf="(addr.get('type')?.value==1)? true : false">
                            <input matInput formControlName="component"  />
                            <mat-error
                                *ngIf="addr.invalid && addr.get('component').errors"
                            >
                                <span *ngIf="addr.get('component').errors?.required">
                                        Component is required</span>
                            </mat-error>
                        </mat-form-field>
                        <span *ngIf="(addr.get('type')?.value==0)? true : false"> {{addr.get('component')?.value}} </span>
                    </td>
                    <td>
                        <mat-form-field style="width:100%" >
                            <select
                                matNativeControl
                                formControlName="paytype">
                                <option value="" [disabled]="(addr.get('type')?.value==0)? true : false">--Select Pay Type--</option>
                                <option *ngFor="let item of dropdown.paytype_dependent"
                                        value="{{item.id}}" [disabled]="(addr.get('type')?.value==0)? true : false">{{item.name}}</option>
                            </select>
                            <mat-error
                                *ngIf="addr.invalid && addr.get('paytype').errors"
                            >
                                <span *ngIf="addr.get('paytype').errors?.required">
                                        Pay Type is required</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width:100%" >
                            <input matInput formControlName="amount"  />
                            <mat-error
                                *ngIf="addr.invalid && addr.get('amount').errors"
                            >
                                <span *ngIf="addr.get('amount').errors?.required">
                                        Amount is required</span>
                                <span *ngIf="addr.get('amount').errors?.pattern">
                                        Amount is invalid</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width:100%">
                            <select
                            matNativeControl
                            formControlName="tax_dependent"
                            >
                                <option value="">-- Select --</option>
                                <option *ngFor="let item of dropdown.yesno_dependent_include_not"
                                        value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <mat-error
                                *ngIf="addr.invalid && addr.get('tax_dependent').errors"
                            >
                                <span *ngIf="addr.get('tax_dependent').errors?.required">
                                        Income Tax Dependent is required</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width:100%">
                            <select
                            matNativeControl
                            formControlName="pt_dependent"
                            >
                                <option value="">-- Select --</option>
                                <option *ngFor="let item of dropdown.yesno_dependent_include_not"
                                        value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <mat-error
                                *ngIf="addr.invalid && addr.get('pt_dependent').errors"
                            >
                                <span *ngIf="addr.get('pt_dependent').errors?.required">
                                        PT Dependent is required</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width:100%">
                            <select
                            matNativeControl
                            formControlName="esi_dependent"
                            >
                                <option value="">-- Select --</option>
                                <option *ngFor="let item of dropdown.yesno_dependent_include_not"
                                        value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <mat-error
                                *ngIf="addr.invalid && addr.get('esi_dependent').errors"
                            >
                                <span *ngIf="addr.get('esi_dependent').errors?.required">
                                        ESI Dependent is required</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    
                    <td>
                        <button
                            mat-mini-fab
                            color="warn"
                            type="button"
                            [disabled]="(adhocdetails.length >= 1 && addr.get('type')?.value==0)? true : false"
                            (click)="deleteAdhocdetailsValue(i)"
                        >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button mat-button (click)="cancel()">Cancel</button>
              <button mat-flat-button type="submit" color="primary">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  