<div class="card">
    <div class="card-header"><i class="fas fa-edit"></i>{{(id)?'Edit':'Add'}} Event
    </div>
    <div class="card-body" style="overflow: visible; height: auto; display: block;" aria-expanded="true"
        aria-hidden="false">
        <form [formGroup]="companyeventForm" class="form-horizontal" (ngSubmit)="onSubmit()">
            <div class="row">
		<div class="col-md-3">
                    <mat-form-field style="width:100%">
                        <mat-label>Company Profiles</mat-label>
                        <select matNativeControl formControlName="company_id">
                            <option value=''>--select Company Profiles --</option>
                            <option *ngFor="let item of dropdown.company_profiles" value="{{item.id}}">{{item.companyname}}</option>
                        </select>
                        <mat-error *ngIf="f.company_id.errors">
                            <span *ngIf="f.company_id.errors.required"> Company Profiles name is required</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field style="width:100%">
                        <mat-label>Event Name</mat-label>
                        <input matInput placeholder="Event name" formControlName="name" required>
                        <mat-error *ngIf="f.name.errors">
                            <span *ngIf="f.name.errors.required"> Event Name is required</span>
                        </mat-error>
                    </mat-form-field>
                </div>  
                <div class="col-md-3">
                    <mat-form-field style="width:100%">
                        <mat-label>Event Icon Text</mat-label>
                        <input (change)="iconChanged($event)"
                        matInput placeholder="Event Icon Text" formControlName="icon" required>
                        <mat-error *ngIf="f.icon.errors">
                            <span *ngIf="f.icon.errors.required"> Event Icon Text is required</span>
                        </mat-error>
                    </mat-form-field>
                </div>   
                <div class="col-md-3">
                    <mat-form-field style="width:100%">
                            <mat-label>Event Color</mat-label>
                            <input type="color" (change)="iconChanged($event)"
                            matInput placeholder="Event Color" formControlName="color" required>
                            <mat-error *ngIf="f.color.errors">
                                <span *ngIf="f.color.errors.required"> Event Color is required</span>
                            </mat-error>
                    </mat-form-field>
                </div>             
            </div>

            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Save changes</button>
                <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
