.bottom-mapping{
    width: 24px;
    line-height: 21px;
    border: 1px solid #03a9f4;
    border-radius: 50%;
    color: #03a9f4;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background: #fff;
    top: 20px;
}
