<div class="card">
  <div class="card-header">
    <i class="fas fa-edit"></i>{{ id ? "Edit" : "Add" }} Professional Tax
  </div>
  <div
    class="card-body"
    style="overflow: visible; height: auto; display: block;"
    aria-expanded="true"
    aria-hidden="false"
  >
    <form
      [formGroup]="professionalTaxFormGroup"
      class="form-horizontal"
      (ngSubmit)="onSubmit()"
    > 
     <!-- -->
      <div class="row m-b-10">
        <div class="col-md-3">
          <mat-form-field style="width:100%">
            <mat-label>County</mat-label>
            <select
              matNativeControl
              formControlName="country_id"
              (change)="getStateDependency(f.country_id.value)"
            >
              <option value="">--Select country--</option>
              <option
                *ngFor="let item of dropdown.country"
                value="{{ item.id }}"
                >{{ item.name }}</option
              >
            </select>
            <mat-error *ngIf="f.country_id.errors">
              <span *ngIf="f.country_id.errors.required">
                Country name is required</span
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field style="width:100%">
            <mat-label>State</mat-label>
            <select matNativeControl formControlName="state_id">
              <option value="">--Select state--</option>
              <option
                *ngFor="let item of dropdown.state"
                value="{{ item.id }}"
                >{{ item.name }}</option
              >
            </select>
            <mat-error *ngIf="f.state_id.errors">
              <span *ngIf="f.state_id.errors.required">
                State name is required</span
              >
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <button
          type="button"
            class="pull-right"
            mat-mini-fab [disabled]="(taxdetails.invalid)" (click)="addTaxdetailsValue()" 
            color="primary"
          >
            <i class="fas fa-plus" ></i>
          </button>  
        </div>
      </div>
      
      <ng-template [ngIf]="taxdetails"></ng-template>
      <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered table-responsive">
                  <thead>
                    <th>Salary</th>
                      <th>Slab</th>
                      <th>PT Amount</th>
                      <th>Exemption</th>
                      <th>Remarks</th>
                       <th>PT Reminder Days</th>
                      <th>Return</th>
                      <th>Forms</th>
                      <th>Action</th>
                  </thead>
                
                  <tbody formArrayName="taxdetails">
                    <ng-template [ngIf]="taxdetails">
                      <tr *ngFor="let addr of taxdetails.controls; let i = index"
                          [formGroupName]="i">
                          <td>
                            <mat-form-field style="width:100%">
                                  <mat-label> Salary </mat-label>
                                  <!-- (change)="changeSalaryRange()" -->
                                  <select matNativeControl formControlName="salary_range">
                                    <option value="">--Select range--</option>
                                    <option value="1"> Upto </option>
                                    <option value="2"> Between </option>
                                    <option value="3"> Above </option>
                                  </select>
                                  <mat-error
                                    *ngIf="addr.invalid && addr.get('salary_range').errors"
                                  >
                                    <span *ngIf="addr.get('salary_range').errors?.required"
                                      >Salary Range is required</span
                                    >
                                  </mat-error>
                                </mat-form-field>
                            
                            
                                <mat-form-field style="width:100%">
                                  <input matInput formControlName="salary_from" />
                                  <mat-error
                                    *ngIf="addr.invalid && addr.get('salary_from').errors"
                                  >
                                    <span *ngIf="addr.get('salary_from').errors?.required">
                                      Salary is required</span
                                    >
                                    <span *ngIf="addr.get('salary_from').errors?.pattern">
                                        Salary is invalid</span
                                      >
                                  </mat-error>
                                </mat-form-field>
                            <br>
                           
                                <mat-form-field style="width:100%"  *ngIf="addr.get('salary_range')?.value == 2">
                                  <input matInput formControlName="salary_to" [min]="((addr.get('salary_from')?.value>0)?addr.get('salary_from')?.value:0)"/>
                                  <mat-error
                                    *ngIf="addr.invalid && addr.get('salary_to').errors"
                                  >
                                    <span *ngIf="addr.get('salary_to').errors?.required">
                                      Salary to is required</span>
                                    <span *ngIf="addr.get('salary_to').errors?.pattern">
                                      Salary to is invalid</span>
                                  </mat-error>
                                </mat-form-field>
                              
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                               <select matNativeControl formControlName="slab">
                                <option value="">--Select slab--</option>
                                <option value="1"> Monthly </option>
                                <option value="2"> Yearly </option>
                              </select>
                              <mat-error
                                *ngIf="addr.invalid && addr.get('slab').errors"
                              >
                                <span *ngIf="addr.get('slab').errors?.required"
                                  >Slab is required</span
                                >
                              </mat-error>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                              <input matInput formControlName="pt_amount" />
                              <mat-error
                                *ngIf="addr.invalid && addr.get('pt_amount').errors"
                              >
                                <span *ngIf="addr.get('pt_amount').errors?.required">
                                  Amount is required</span
                                >
                                <span *ngIf="addr.get('pt_amount').errors?.pattern">
                                  Amount is invalid</span
                                >
                              </mat-error>
                            </mat-form-field>
                          </td>
                          <td>
                             <mat-slide-toggle
                                formControlName="exemption"
                                color="primary"
                                style="padding-top: 14px;"
                              >
                                {{
                                  addr.get("exemption")?.value
                                    ? "Applicable"
                                    : "Not Applicable"
                                }}
                              </mat-slide-toggle>
                     
                            <mat-form-field style="width:100%" *ngIf="addr.get('exemption')?.value">
                              <mat-label> Age </mat-label>
                              <input matInput formControlName="exemption_age" [required]="addr.get('exemption')?.value==1"/>
                              <mat-error
                                *ngIf="addr.invalid && addr.get('exemption_age').errors"
                              >
                                <span *ngIf="addr.get('exemption_age').errors?.required">
                                  Age is required</span
                                >
                                <span *ngIf="addr.get('exemption_age').errors?.pattern">
                                  Age is invalid</span
                                >
                              </mat-error>
                            </mat-form-field>
                        
                            <mat-form-field style="width:100%" *ngIf="addr.get('exemption')?.value">
                              <mat-label> Exemption Details </mat-label>
                              <input matInput formControlName="exemption_details" [required]="addr.get('exemption')?.value==1"/>
                              <mat-error
                                *ngIf="addr.invalid && addr.get('exemption_details').errors"
                              >
                                <span *ngIf="addr.get('exemption_details').errors?.required">
                                  Exemption Details is required</span
                                >
                              </mat-error>
                             </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                              <textarea
                                matInput
                                placeholder="Remarks"
                                formControlName="remarks"
                              ></textarea>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                             <select matNativeControl formControlName="reminder_days">
                                <option value="">--Select Days--</option>
                                <option value="1"> 1 Day </option>
                                <option value="10"> 10 Days </option>
                                <option value="20"> 20 Days </option>
                                <option value="40"> 40 Days </option>
                              </select>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                            <select matNativeControl formControlName="returns">
                              <option value="">--Select Returns--</option>
                              <option value="1"> Quarterly </option>
                              <option value="2"> Half Yearly </option>
                              <option value="3"> Yearly </option>
                            </select> 
                          </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field style="width:100%">
                            <input matInput
                            formControlName="document_name">
                            </mat-form-field>
                          </td>
                          <td><button mat-mini-fab
                                      color="warn"
                                      type="button"
                                      [disabled]="(taxdetails.length==1)? true:false" (click)="deleteTaxdetailsValue(i)"
                                      ><i 
                                      class="fas fa-trash"></i></button>
                          </td>
                      </tr>
                    </ng-template>
                  </tbody>
               
              </table>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-button (click)="resetForm()">Cancel</button>
            <button mat-flat-button type="submit" color="primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
