<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChart2Labels"
            [options]="lineChart2Options"
            [colors]="lineChart2Colours"
            [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button
              type="button"
              class="btn btn-transparent dropdown-toggle p-0"
              dropdownToggle
            >
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button
              type="button"
              class="btn btn-transparent dropdown-toggle p-0"
              dropdownToggle
            >
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChart3Labels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button
              type="button"
              class="btn btn-transparent dropdown-toggle p-0"
              dropdownToggle
            >
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
          <canvas
            baseChart
            class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
          ></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card chartcustom">
        <div class="card-header">Gender Diversity</div>
        <div class="card-body pb-0 text-center">
          <apx-chart
            [series]="genderDiversityChartOptions.series"
            [chart]="genderDiversityChartOptions.chart"
            [labels]="genderDiversityChartOptions.labels"
            [legend]="genderDiversityChartOptions.legend"
            [responsive]="genderDiversityChartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card chartcustom">
        <div class="card-header">Employee Status</div>  
        <div class="card-body pb-0 text-center">
          <apx-chart
            [series]="employeeStatusChartOptions.series"
            [chart]="employeeStatusChartOptions.chart"
            [labels]="employeeStatusChartOptions.labels"
            [legend]="employeeStatusChartOptions.legend"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card chartcustom">
        <div class="card-header">Head Count</div>
        <div class="card-body pb-0 text-center">
          <apx-chart
            [series]="headCountChartOptions.series"
            [chart]="headCountChartOptions.chart"
            [labels]="headCountChartOptions.labels"
            [legend]="headCountChartOptions.legend"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card chartcustom">
        <div class="card-header">Pendding Tasks</div>
        <div class="card-body pb-0 text-center">
          <div class="marqueecontainer">
            <p class="marquee">
              As small businesses and startups grow and add more employees, the need for someone to manage human resource (HR) functions becomes prevalent.
Whether that task becomes the purview of the CEO, an outsourced HR provider or in-house staff member (either part-time or full-time), the person will need to perform a range of duties, recruiting being one of them but not the only one by far.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">Joiners &nbsp;
          <select >
            <option value="">--Select Month--</option>
            <option value="1"> Last Month </option>
          </select>
        </div>
        <div class="card-body pb-0 text-center">
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-info p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">Yet to release the offer letter</div>
              </div>
            </div>
          </div>
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-warning p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">Yet to be onboarded</div>
              </div>
            </div>
          </div>
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-success p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">Joined</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">Atrition &nbsp;
          <select >
              <option value="">--Select Month--</option>
              <option value="1"> Last Month </option>
            </select>
        </div>
        <div class="card-body pb-0 text-center">
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-danger p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">Resigned</div>
              </div>
            </div>
          </div>
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-warning p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">Left the Service</div>
              </div>
            </div>
          </div>
          <div class="card overflow-hidden">
            <div class="card-body p-0 d-flex align-items-center">
                <div class="bg-gradient-info p-4 m-r-15"><i class="fa fa-2x fa-users"></i></div>
              <div>
                <div class="text-value text-primary">$1.999,50</div>
                <div class="text-muted font-weight-bold small">FFS Pending</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">Salary Analysis 
            <select >
                <option value="">--Select Year--</option>
                <option value="1"> Year Only </option>
              </select>
        </div>
        <div class="card-body chartbodycustom pb-0 text-center">
          <apx-chart
          [series]="salaryChartOptions.series"
          [chart]="salaryChartOptions.chart"
          [dataLabels]="salaryChartOptions.dataLabels"
          [plotOptions]="salaryChartOptions.plotOptions"
          [xaxis]="salaryChartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header">Upcoming Events</div>
        <div class="card-body pb-0 text-center">
          <div class="marqueecontainer" style="height:310px;">
            <p class="marquee">
              People Matters – Tech <b>HR</b> 2019. Venue – The Leela Ambience, Gurgaon. ... 
            </p>
            <p class="marquee">
              SHRM Tech APAC – 2019. ... 
            </p>
            <p class="marquee">
              EX Talk – 2019. ... 
            </p>
            <p class="marquee">
              Nasscom – How Human Is “Human Capital Management” ... 
            </p>
            <p class="marquee">
              Mumbai <b>HR</b> summit – 2019. ... 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-body pb-0">
          <div class="alert alert-info" *ngIf="!this.temp">No Data found</div>
          <table class="table table-striped table-bordered table-responsive table-sm row-border hover" datatable
              [dtOptions]="dtOptions" *ngIf="this.temp">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Status</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Reporting Manager</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let edata of employeeDataList">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  {{edata.employee_id}}
                </td>
                <td style="width:21%">
                  <div>{{edata.date_of_birth}}</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td>
                  <span *ngIf="!edata.status"> InActive</span>
                  <span *ngIf="edata.status"> Active</span>
                </td>
                <td>
                  <div> </div>
                </td>
                <td>
                  <div> </div>
                </td>
                <td>
                  <div> </div>
                </td>
                <td>
                  <div> </div>
                </td>
                <td>
                  <button mat-mini-fab color="primary" type="button"
                  [routerLink]="['/home/onboarding/personalinfo/edit',edata.id]"><i
                      class="fa fa-edit"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
