// Here you can add other styles
.fc-button{
    text-transform: uppercase !important;
}
.fc-event{
    padding: 2px;
}
.mat-chip-list-stacked .mat-chip-list-wrapper .mat-standard-chip{
    width:unset !important;
}

input.mat-chip-input{
    flex: 1 0 30px !important;
}